p{
    font-size: 20px;
    font-weight: 900; 
}



span{
    font-size: 25px;
}

#mapa {
width: 100%;
height: 200px;

}

.span1{
    background-color: yellow;
}


span{
    color:goldenrod;
}

.tittle1{
  background-color: blue;
}

.hijo{
  list-style: none;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-items: center;
}

.service {
  background-color: #f4f4f4;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.img1{
    width: 10%;
    
}

.divimagen{
    width: 100%;
    background-color: #010101;
}

/*estilo de Mobile */
@media only screen and (max-width: 760px) {
  .padre {
    display: block;
  }
  .hijo {
    width: 80%;
  }
}
  
/* estilo de Tablet */
@media only screen and (min-width: 761px) and (max-width: 1024px) {
  .padre {
    display: flex;
    flex-wrap: wrap;
  }
  .hijo {
    width: 40%;
  }
}
  
/* estilo de Desktop */
@media only screen and (min-width: 1025px) {
  .padre {
    display: flex;
  }
  .hijo {
    width: 25%;
  }
}

.tech {
height: 200px;
}  

#models{
  background-color: gray;
}

/*uso del gradiente*/
#services{
  background: linear-gradient(white, grey,black);
}
#solar{
  width: 400px;
  transition: transform 0.3s; /* animacion en la imagen */
}

#solar:hover {
  transform: scale(1.1); /* zoom al pasar el mouse*/
}

@keyframes moveRightToLeft {
  0% {
      transform: translateX(0); 
  }
  100% {
      transform: translateX(-50px); /* mover la foto para la derecha*/
  }
}

#megapackImage {
  animation: moveRightToLeft 2s infinite alternate; 
}

